body {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(52, 53, 58);
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 0;
    padding-top: 5px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-section {
    max-width: 800px;
    width: 100%;
}

h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.3;
}

.text{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

blockquote {
    font-style: italic;
    color: #c5c1c1;
    border-left: 4px solid orange;
    padding-left: 20px;
    margin: 30px 0;
    font-size: 1.1em;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
    }
    
    .about-section {
        padding: 0 10px;
    }
}